body {
    background-color: rgb(85, 62, 62);
    color: aliceblue;
}

h1{
    text-align: center;
}

label{
    margin: 50px;
    display: block;
}

button {
    margin-top: 60px;
    width: 100px;
    padding: 10px;
    margin: 40px;
}